@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AR:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    font-family: "Playfair Display", serif;
}

:root{
    --bg-color: #ffffff;
    --text-color: #000000;
    --main-color: #0C97FA;
}

html{
    font-size: 100%;
    overflow-x: hidden;
}

html.active{
    overflow-y: hidden;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    background: var(--bg-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 100;
}

.logo{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.3rem;
    margin-left: 1.5rem;
    color: var(--main-color);
}

.logo:hover{
        text-shadow: rgba(36, 158, 223, 0.8) 0px 3px 8px;
}

.menu_icon{
    position: relative;
    display: none;
    padding: 16px;
    margin-right: 10px;
    cursor: pointer;
}

.common{
    position: absolute;
    height: 2px;
    width: 30px;
    border-radius: 50px;
    transform: translate(-50%);
    background-color: #000000;
    transition: 0.3s ease;
}

.top_line{
    top: 20%;
}

.middle_line{
    top: 50%;
}

.bottom_line{
    top: 80%;
}

.active .top_line{
    transform: translate(-10px, 10px) rotate(45deg);
}

.active .middle_line{
    opacity: 0;
}

.active .bottom_line{
    transform: translate(-10px, -10px) rotate(-45deg);
}

aside{
    display: flex;
    justify-content: end;
}

.side_bar{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 4rem;
    padding-top: 2rem;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 10;
    height: 100vh;
    right: -200px;
    opacity: 0;
    width: 12rem;
    transition: 0.5s ease;
    cursor: pointer;
}

.active.side_bar{
    opacity: 1;
    right: 0px;
}

.side_bar ul{
    list-style: none;
}

.side_bar ul li{
    padding-bottom: 1.6rem;
}

.side_bar ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 1.5rem;
}

.side_bar li a:hover,
.side_bar li a:active{
    color: var(--main-color);
}

.navbar{
    display: flex;
}

.nav_list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 1rem;
}

.nav_list li{
    margin-left: 2rem;
}

.nav_list li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
}

.nav_list li a:hover,
.nav_list li a:active{
    color: var(--main-color);
}

/* about section */
.about{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 8rem;
    align-items: center;
    min-height: 100vh;
}

.about_content h3{
    font-size: 2rem;
}

.about_content h1{
    font-size: 2.5rem;
    font-weight: 350;
}

.about_content span{
    color: var(--main-color);
}

.about_content p{
    font-size: 1.3rem;
}

.social_link{
    font-size: 1.6rem;
    padding-top: 1rem;
}

.social_link a{
    color: #000000;
    padding-left: 1rem;
}

.social_link a:hover{
    color: var(--main-color);
}

.btn{
    display: inline-block;
    background-color: var(--main-color);
    color: #ffffff;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border-radius: 4rem;
    font-size: 1.1rem;
}

.btn:hover{
    color: rgb(215, 204, 240);
    box-shadow: rgba(33, 139, 220, 0.8) 0px 3px 8px;
}

.about_photo img{
    width: 18rem;
    height: 20rem;
    border-radius: 20px 40px;
    background-color: var(--main-color);
    margin-left: 5rem;
}

/* skills */
.skill{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.skill h1{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.skill_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.skill_content{
    margin: 30px;
}

.skill_content h2{
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.skill_content h2{
    text-align: left;
}

.container_bar{
    width: 100%;
    background-color: #ddd;
    margin-bottom: 12px;
    border-radius: 10px;
}

.skill_bar{
    color: #ffffff;
    text-align: right;
    padding: 2px 6px 2px 0px;
    border-radius: 10px;
    background-color: coral;
}

.skill_html{
    width: 65%;
}

.skill_css{
    width: 60%;
}

.skill_js{
    width: 55%;
}

.skill_php{
    width: 50%;
}

.skill_mysql{
    width: 55%;
}

/* portfolio */
.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio h1{ 
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 30px;
    margin-top: 100px;
}

.portfolio_list{
    display: flex;
    justify-content: center;
    width: 70%;
    flex-wrap: wrap;
}

.portfolio_card{
    width: 300px;
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.portfolio_card:hover{
    box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.2);
}

.portfolio_card img{
    width: 100%;
    padding: 10px 0px;
}

.portfolio_card p{
    font-size: 1rem;
    padding: 0 10px 10px;
    text-align: center;
}

/* contact form */
.contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.contact h1{
    text-align: center;
    font-size: 2rem;
    margin: 6rem 0 1rem;
    font-weight: 400;
}

.contact_container{
    display: flex;
    justify-content: center;
}

.contact_form{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2);
}

.contact_field{
    position: relative;
    border-bottom: 0.5px solid #000000;
    margin: 15px 0;
}

.contact_field input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 1.4rem;
}

.contact_field label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.4rem;
    pointer-events: none;
    transition: 0.3s ease;
    font-weight: 100;
}

.contact_field input:focus~label,
.contact_field input:valid~label{
    transform: translateY(-120%);
    font-size: 1.2rem;
    top: 10px;
}

.contact_form textarea{
    font-size: 1.2rem;
    margin: 20px 0;
    padding: 5px 10px;
    border: 0.5px solid black;
    border-radius: 4px;
}

.contact_form button{
    font-size: 1rem;
    padding: 10px 0;
    margin: 0 64px;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 4px;
}

.contact_form button:hover{
    color: rgb(215, 204, 240);
    box-shadow: rgba(33, 139, 220, 0.8) 0px 3px 8px;
}

/* footer */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #ffffff;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px -4px 6px;
}

/* Media for all devices */
@media only screen and (max-width:768px) {

    .logo{
        font-size: 1.6rem;
    }

    .menu_icon{
        display: block;
    }

    .nav_list{
        display: none;
    }

    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about_content h3{
        font-size: 1.6rem;
    }
    
    .about_content h1{
        font-size: 2rem;
    }

    .about_content a{
        margin-left: 10px;
    }

    .about_content .btn{
        margin-left: 50px;
    }

    .about_photo{
        margin-top: 30px;
    }

    .about_photo img{
        margin-left: 0px;
    }
}

@media only screen and (max-width:971px){

    .logo{
        font-size: 1.6rem;
    }

    .menu_icon{
        display: block;
    }

    .nav_list{
        display: none;
    }
    
    .portfolio_card{
        width: 370px;
    }
    
    .portfolio_card img{
        width: 350px;
    }
}